@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
 }
:root {
    --color1: #242424;
    --color2: #C81C6F;
    --color3: #333333;
    --color4: #464646;
    

}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color1);
}
header {
    background-color: var(--color1);
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
header #logo {
    margin-left: 70px;

}
header #logo a img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    display: flex;

}
nav {
    margin-left: 40px;

}
header nav #pesq {
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 45vh;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: rgb(66, 66, 66);
    color: white;
    position: relative;
    transition-duration: 1s;
}
header nav #pesq:focus {
    border-color: var(--color2);
}
header nav box-icon {
    position:absolute;
    margin-top: 18px;
    margin-left: -36px;
    fill: gray;
    transition-duration: 1s;
}
header nav box-icon:hover {
    cursor: pointer;
    fill: var(--color2);
    
}
#teams {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
#teams #add_new_team {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#teams #add_new_team #new_team {
    font-weight: bold;
    font-size: 12px;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid var(--color2);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    transition-duration: 600ms;

}
#teams #add_new_team #new_team #icon_plus {
    margin-right: 10px;
}
#teams #add_new_team #new_team:hover {
    cursor: pointer;
    box-shadow: 0px 0px 13px 1px rgba(255, 255, 255, 0.178);
    background-color: var(--color2);
}
#teams #list_of_teams {
    margin-top: 20px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#teams #list_of_teams .card_team {
    background-color: var(--color3);
    width: calc(20% - 13px);
    border-radius: 10px;
}
#teams #list_of_teams .card_team #name_team_user {
    display: flex;
    gap: 30px;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}
#teams #list_of_teams .card_team #count_users {
    background-color: var(--color4);
    text-align: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 26px auto;
    color: white;
}
#teams #list_of_teams .card_team #count_users h1 {
    font-size: 50px;
    font-weight: lighter;
}
#teams #list_of_teams .card_team #count_users h6 {
    font-size: 16px;
}

#teams #list_of_teams .card_team #add_user_exit {
    display: flex;
    gap: 15px;
    margin-left: 13px;
    margin-bottom: 13px;
}
#teams #list_of_teams .card_team #add_user_exit #add_user{
    background-color: transparent;
    border: 2px solid var(--color2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#teams #list_of_teams .card_team #add_user_exit #add_user:hover {
    cursor: pointer;
}
#teams #list_of_teams .card_team #add_user_exit #exit_user {
    background-color: transparent;
    color: white;
    border: 2px solid var(--color2);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
#teams #list_of_teams .card_team #add_user_exit #exit_user:hover {
    cursor: pointer;
}
#icon_eye {
    font-size: 13px;
    margin-top: 7px;
}